<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "job board", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><% if current_user %>
              <li>Welcome, <%= current_user.name %>!</li>
              <li><%= link_to "Sign Out", signout_path %></li>
            <% else %>
              <%= link_to "Login", "/auth/github" %>
            <% end %>
            </li>
      </ul>
    </nav>
  </div>
</header>

